
.review-container{
    width: 500px;
    margin: 60px auto;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  padding: 50px;
  border-radius: 5px;
}

.title{
    margin-bottom: 30px;
}

.items {
    margin-bottom: 15px;
}

.item{
    margin-top: 5px;
}

label{
    color: gray;
    font-size: 0.9em;
}

.buttons {
    margin-top: 30px;
    height: 40px !important;
    line-height: 40px !important;
}
