* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    width: 100%;
    height: 50px;
    background-color: lightseagreen;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
    font-weight: bolder;
    font-family: cursive;
    font-size: 1.7em;
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    line-height: 50px;
}

.navigation-bar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: whitesmoke;
}

.navigation-bar > div{
  width: 100%;
  height: 100%;
}


.nav-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
    line-height: 50px;
    padding: 0 20px;
}

.nav-item:hover {
    background-color: rgb(30, 30, 30);
}

.payments {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
    line-height: 50px;
    padding: 0 20px;
}

.imp {
    width: 300px !important;
}







