* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    width: 100%;
    height: 40px;
    background-color: lightseagreen;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
    cursor: pointer;
}

.navigation-bar {
    display: flex;
    height: 100%;
    align-items: center;

    justify-content: space-evenly;
    background-color: black;
    color: whitesmoke;
}

.navigation-bar > div{
  width: 100%;
  height: 100%;
}


.navigation-bar > div > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
    line-height: 40px;
    padding: 0 20px;
}

.navigation-bar > div > a:hover {
color: black;
background-color: white;
}







